<div class="row">
  <div class="col-md-4">
    <p>
      <div ng-repeat="player in players">
        <li>{{player.name}}</li>
        <li><strong>Player Position:</strong>{{player.position}}</li>
        <li><strong>Team:</strong>{{player.team}}</li>
        <li><img ng-src='{{player.image_url}}'></li>
        <li><strong>FIFA Rating:</strong>{{player.fifa_rating}}</li>
        <hr>
      </div>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <div ng-repeat="player in players">
        <li>{{player.name}}</li>
        <li><strong>Player Position:</strong>{{player.position}}</li>
        <li><strong>Team:</strong>{{player.team}}</li>
        <li><img ng-src='{{player.image_url}}'></li>
        <li><strong>FIFA Rating:</strong>{{player.fifa_rating}}</li>
        <hr>
      </div>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <div ng-repeat="player in players">
        <li>{{player.name}}</li>
        <li><strong>Player Position:</strong>{{player.position}}</li>
        <li><strong>Team:</strong>{{player.team}}</li>
        <li><img ng-src='{{player.image_url}}'></li>
        <li><strong>FIFA Rating:</strong>{{player.fifa_rating}}</li>
        <hr>
      </div>
    </p>
  </div>
</div>
