<!-- <div class="packValue">
  <p>
    Pack Value: {{packValue}}
  </p>
</div> -->

<div class="row">
  <div class="col-md-3 text-center" ng-repeat="player in players track by $index">
    <div class='well packs'>
      <h5 class='name'><strong>{{player.name}}</strong></h5>
      <img ng-src='{{player.image_url}}'>
      <br>
      <p><strong>Position: </strong>{{player.position}}</p>
      <p><strong>Team: </strong>{{player.team}}</p>
      <p><strong>FIFA Rating: </strong>{{player.fifa_rating}}</p>
      <!-- <button class="btn btn-success" ng-click='addPlayer(player)'>Add To Pack</button> -->
    </div>
  </div>
</div>

<!-- http://img.fifa.com/images/fwc/2014/players/prt-3/229397.png -->
